body {
  background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
  linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
  linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
  radial-gradient(gray 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
